<head>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<body>
  <header>
    <div class="imgOfHeader">
      <H1>Welcome</H1>
    </div>
  </header>
  <div class="styleBonbonLegende">
    <app-bonbon></app-bonbon>
  </div>
    <div class="cssKing">
      <app-bonbonniere-component></app-bonbonniere-component>
    </div>
    <router-outlet></router-outlet>
  <footer>
      <div class="imgOfHeader">
          <h2>Goodbye</h2>
      </div>
  </footer>
</body>